.header {
    padding: 20px;
    background-color: #111;
    /* podés cambiarlo */
}

.logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 150px;
    /* ajustás tamaño acá */
    height: auto;
    margin-right: 10px;
}

.logo-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
}